<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nick.lifestats">

    <!--
     To auto-complete the email text field in the login form with the user's emails
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ls_icon"
        android:label="LifeStats"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Dashboard"
            android:label="Dashboard"
            android:parentActivityName=".user_login"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nick.lifestats.user_login" />
        </activity>
        <activity
            android:name=".view_profile"
            android:label="Your Profile"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nick.lifestats.Dashboard" />
        </activity>
        <activity
            android:name=".edit_profile"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nick.lifestats.Dashboard" />
        </activity>
        <activity
            android:name=".user_settings"
            android:label="@string/title_activity_user_settings"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nick.lifestats.Dashboard" />
        </activity>
        <activity
            android:name=".enter_stats"
            android:label="Enter Stats"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nick.lifestats.Dashboard" />
        </activity>
        <activity
            android:name=".view_stats"
            android:label="Your Statistics"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nick.lifestats.Dashboard" />
        </activity>
        <activity android:name=".user_registration" />
        <activity android:name=".user_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".finance_graph"></activity>
    </application>

</manifest>